<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grad_project.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"  android:required="false"/>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="false"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RegistActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NormalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OcrActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HelpNorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HelpComActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ConfirmActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PersonalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CheckActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupAgreementActivity" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupOcrActivity" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupRegistActivity" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupPermissionActivity" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupSurveyActivity" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupMapActivity" android:theme="@style/AppTheme.popup_Map_Theme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PopupTimeActivity" android:theme="@style/AppTheme.popup_Time_Theme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".QrActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".TutorialActivity">
        </activity>

        <service android:name=".NotiService"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="63c2eeea64bff757d4f3fbb253f2ff59" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>